body {
  margin: 0;
  overflow: hidden; /* Предотвращение прокрутки страницы */
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-family: 'Arial', sans-serif;
}

.points-display {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px; /* Уменьшено для меньшего размера */
  border-radius: 10px;
  z-index: 10;
  font-size: 16px; /* Уменьшено для меньшего размера */
  color: #00ff00; /* Зеленый цвет текста */
  border: 2px solid #00ff00; /* Зеленая обводка */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Тень для текста */
}

.plant-container {
  width: 100%;
  height: 60%; /* Изменено для уменьшения высоты, чтобы добавить кнопки ниже */
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant {
  width: 260px; /* Увеличено в 1.3 раза */
  height: 260px; /* Увеличено в 1.3 раза */
  background: url('plant.png') no-repeat center/contain;
  animation: grow 2s infinite alternate, leafEffect 5s infinite; /* Добавлен новый эффект */
}

@keyframes grow {
  from {
    transform: scale(1.3); /* Увеличено в 1.3 раза */
  }
  to {
    transform: scale(1.43); /* Увеличено в 1.3 раза */
  }
}

@keyframes leafEffect {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(45deg); /* Добавлен эффект изменения цвета */
  }
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #00ff00; /* Зеленый цвет текста */
  border: 2px solid #00ff00; /* Зеленая обводка */
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1); /* Эффект при наведении */
}

.messages-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.message {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
