.mine-container {
  padding: 20px;
  color: white;
  max-width: 800px; /* Увеличена максимальная ширина */
  margin: 0 auto;
  background-color: #1f1f1f; /* Темный фон для контейнера */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  background: #333;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.tab.active {
  background: #555;
  color: #FFD700;
}

.quests {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Увеличено расстояние между квестами */
}

.quest {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 10px;
  padding: 15px; /* Увеличены внутренние отступы */
  width: calc(33% - 20px); /* Изменена ширина для трех квестов в строке */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border: 1px solid transparent; /* Добавлена обводка */
}

.quest:hover {
  background: rgba(51, 51, 51, 0.8);
  transform: translateY(-5px); /* Плавное перемещение вверх при наведении */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень при наведении */
  border: 1px solid #FFD700; /* Подсветка обводки при наведении */
}

.quest-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.quest-title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.quest-icon {
  margin-right: 8px;
  color: #FFD700; /* Золотой цвет для иконок */
}

.quest-profit {
  font-size: 14px;
}

.quest-profit span {
  color: #FFD700;
}

.quest-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.quest-level,
.quest-cost {
  text-align: center;
}
