.mine-container {
    padding: 20px;
    color: white;
    margin-top: 60px; /* Добавлено чтобы отступить сверху */
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    background: #333;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .tab.active {
    background: #555;
    color: #FFD700;
  }
  
  .quest {
    background: #222;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
  }
  
  .quest:hover {
    background: #333;
  }
  
  .quest .quest-info {
    flex: 1;
  }
  
  .quest .quest-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  