/* Notification.css */
.notification {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeInOut 2s forwards;
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 10px;
}

.notification-close {
  margin-left: 10px;
  cursor: pointer;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
